<div style="text-align:center;margin-top:50px;">
   <%= image_tag "Anv-logo.png", style:'width:180px'%>
</div>
<div class="card bg-light card-border">
   <%= render "shared_admin/flash" %> 
   <article class="card-body mx-auto text-center" style="max-width: 500px;">
      <h4 class="card-title mt-3 text-center page-title" style="color: black !important;">Reset your account password</h4>
      <%= form_tag :action => 'forgot_password_process' do  %>
      <div class="form-group input-group">
         <%= text_field 'forgot_password', 'email', class: "form-control", placeholder:"Email address" %></p>
      </div>
      <button type="submit" class="btn btn-primary reset-password-btn">Reset Password</button>                                                                       
        <% end -%>
   </article>
</div>


